<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DevConnection" value="HostName=pltkdpepliot2016S1.azure-devices.net;DeviceId=PC;SharedAccessKey=..."/>
    <add key="OwnerConnection" value="HostName=pltkdpepliot2016S1.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=..."/>
    <add key="ServiceConnection" value="HostName=pltkdpepliot2016S1.azure-devices.net;SharedAccessKeyName=service;SharedAccessKey=..."/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PCLCrypto" publicKeyToken="d4421c8a4786956c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
