<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DevConnection"     value="HostName=pltkdpepliot2016S1.azure-devices.net;DeviceId=PC;SharedAccessKey=MKFlutvnHn/WutJkDGbRPZ/PgGSQIKDmOhMtIivt198="/>
    <add key="Dev1Connection"    value="HostName=pltkdpepliot2016S1.azure-devices.net;DeviceId=PC1;SharedAccessKey=P6KCijEnuA8C8xYhx5kkrx1tZIFkxt4xhd7rju+4Q48="/>
    <add key="OwnerConnection"   value="HostName=pltkdpepliot2016S1.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=zFLP6d9oIzlEOgaD8QRxBzx9T6DqzWL3cwo3b5xudY8="/>
    <add key="ServiceConnection" value="HostName=pltkdpepliot2016S1.azure-devices.net;SharedAccessKeyName=service;SharedAccessKey=Q2Lib3zRmGtHYWJMogofGWbhwrBCpGmemnTvXOWj+qE="/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>