<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Management.DataLake.Analytics" version="0.12.0-preview" targetFramework="net46" />
  <package id="Microsoft.Azure.Management.DataLake.Store" version="0.12.6-preview" targetFramework="net46" />
  <package id="Microsoft.Azure.Management.DataLake.StoreUploader" version="0.10.7-preview" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.5" targetFramework="net46" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.2" targetFramework="net46" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net46" />
</packages>